{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpading": true,
  "jsxSingleQuote": false,
  "printWidth": 95,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "tralingComma": "all",
  "useTabs": false
}
